Flask==0.9
Flask-DebugToolbar==0.7.1
Flask-OAuth==0.12
Flask-SQLAlchemy==0.16
Flask-Script==0.5.3
Jinja2==2.6
SQLAlchemy==0.8.0b2
Tempita==0.5.1
WebOb==1.2.3
Werkzeug==0.8.3
argparse==1.2.1
blinker==1.2
cssselect==0.7.1
decorator==3.4.0
errormator-client==0.5.8
gunicorn==0.17.2
httplib2==0.7.7
lxml==3.1beta1
oauth2==1.5.211
psycopg2==2.4.6
pyquery==1.2.4
python-dateutil==2.1
pytz==2012j
redis==2.7.2
requests==1.1.0
rq==0.3.5
rq-scheduler==0.3.5
six==1.2.0
sqlalchemy-migrate==0.7.2
times==0.6
wsgiref==0.1.2
