Flask==0.9
Flask-OAuth==0.12
Flask-SQLAlchemy==0.16
Flask-Script==0.5.3
Jinja2==2.6
SQLAlchemy==0.8.0b2
Werkzeug==0.8.3
cssselect==0.7.1
httplib2==0.7.7
lxml==3.1beta1
oauth2==1.5.211
pyquery==1.2.4
python-dateutil==2.1
pytz==2012j
redis==2.7.2
requests==1.1.0
rq==0.3.5
rq-scheduler==0.3.5
six==1.2.0
times==0.6
unicodecsv==0.9.3
wsgiref==0.1.2
