/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.top-bar { background: #333333; }
.contain-to-grid { background: #333333; }

/* -----------------------------------------
   Product
----------------------------------------- */

.big-percentage{
	font-size: 30px;
}

.percentage-positive{
	color: #DA5454;
}

.percentage-negative{
	color: #1FC440
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


