{% extends "base.html" %}
{% block title %}Tracker{% endblock %}
{% block head %}
	{{ super() }}
	<style type="text/css">
		.important { color: #C91C0D; }
	</style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="twelve columns">
	<h2>Bienvenidos al tracker de precios.</h2>
	<p><a href="{{ url_for('new_product') }}">Agregar un nuevo producto</a>.</p>
	<span class="number-of-logs">{{number_of_logs}}</span> logs obtenidos de <span class="number-of-products">{{number_of_products}}</span> productos.
	<hr />
	<h3 class="feature-header">Últimos 25 productos actualizados</h3>
		{% for product in products %}
		<div class="panel product-panel">
		<div class="row">
				<div class="three columns">
					<span class="th"><img src="{{product.original_img}}" /></span>
				</div>

				<div class="six columns">
					<h6><a class="product-link" href="{{url_for('show_product', product_id=product.id)}}">{{product.name}}</a></h6>
					<h6 class="subheader">{{product.source.domain}}</h6>
					<dl>
						<dd>trackeando desde <span class="from-now" data-date="{{ product.pub_date }} +0000"></span></dd>
						<dd>{{product.price_logs|length}} precios</dd>
					</dl>
					<p></p>
					<p></p>

				</div>
				<div class="three columns">
					<div class="row">
						<div class="twelve columns">
							<h6 class="subheader">Últimos 30 días</h6>
							{% if product.one_month_change == 0 %}
							<span class="big-percentage percentage-neutral">
							{% elif product.one_month_change > 0 %}
							<span class="big-percentage percentage-positive">
							{% else %}
							<span class="big-percentage percentage-negative">
							{% endif %}
								{{ "%.2f" | format(product.one_month_change) }}%
							</span>
						</div>
						<div class="twelve columns">
							<h6 class="subheader">Últimos 90 días</h6>
							{% if product.three_month_change == 0 %}
							<span class="big-percentage percentage-neutral">
							{% elif product.three_month_change > 0 %}
							<span class="big-percentage percentage-positive">
							{% else %}
							<span class="big-percentage percentage-negative">
							{% endif %}
								{{ "%.2f" | format(product.three_month_change) }}%
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
  </div>
</div>
{% endblock %}