{% extends "base.html" %}
{% block title %}Categoria {{ category.slug }}{% endblock %}
{% block breadcrumbs %}
	<div class="row">
		<ul class="breadcrumbs">
			<li><a href="/"><span>Inicio</span></a></li>
			<li><span>Categorias</span></li>
			<li class="current"><span>{{category.slug}}<small></span></li>
		</ul>
	</div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="twelve columns">
		<h3 class="feature-header">{{category.name}}</h3>
		{% for product in category.products %}
		<div class="panel product-panel">
		<div class="row">
				<div class="three columns">
					<span class="th"><img src="{{product.original_img}}" /></span>
				</div>

				<div class="six columns">
					<h6><a class="product-link" href="{{url_for('show_product', product_id=product.id)}}">{{product.name}}</a></h6>
					<h6 class="subheader">{{product.source.domain}}</h6>
					<dl>
						<dd>trackeando desde <span class="from-now" data-date="{{ product.pub_date }} +0000"></span></dd>
						<dd>{{product.price_logs|length}} precios</dd>
					</dl>
					<p></p>
					<p></p>

				</div>
				<div class="three columns">
					<div class="row">
						<div class="twelve columns">
							<h6 class="subheader">Últimos 30 días</h6>
							{% if product.one_month_change == 0 %}
							<span class="big-percentage percentage-neutral">
							{% elif product.one_month_change > 0 %}
							<span class="big-percentage percentage-positive">
							{% else %}
							<span class="big-percentage percentage-negative">
							{% endif %}
								{{ "%.2f" | format(product.one_month_change) }}%
							</span>
						</div>
						<div class="twelve columns">
							<h6 class="subheader">Últimos 90 días</h6>
							{% if product.three_month_change == 0 %}
							<span class="big-percentage percentage-neutral">
							{% elif product.three_month_change > 0 %}
							<span class="big-percentage percentage-positive">
							{% else %}
							<span class="big-percentage percentage-negative">
							{% endif %}
								{{ "%.2f" | format(product.three_month_change) }}%
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<script type="text/javascript">

	$('.product-panel').click(function(){
		window.location.href = $(this).find(".product-link").attr("href")
	});
	moment.lang("es");
	$(".from-now").each(function(){
		$(this).html(moment($(this).attr("data-date"), "YYYY-MM-DD HH:mm:ss.SSS Z").fromNow());	
	});
	setTimeout(function() {
	  if (location.hash) {
		window.scrollTo(0, 0);
		$(window).scroll(function(){
			$(location.hash).animate({
				'down': +5 
			});
		});
	  }
	}, 1);
</script>
{% endblock %}
