{% extends "base.html" %}
{% block title %}Producto {{ product.name }}{% endblock %}
{% block breadcrumbs %}
	<div class="row">
		<ul class="breadcrumbs">
			<li><a href="/"><span>Inicio</span></a></li>
			<li><span>Productos</span></li>
			<li class="current"><span>{{product.name}} - <small>{{product.source.domain}}<small></span></li>
		</ul>
	</div>
{% endblock %}
{% block content %}
<div class="row">
	<div class="nine columns">
		<div class="row">
			<div class="six columns">
				<ul class="pricing-table round">
					<li class="price">{{ product.name }}</li>
					<li class="bullet-item">{{ product.source.domain }} [<a href="{{ product.url }}">link</a>]</li>
					<li class="description">agregado <span class="from-now" data-date="{{ product.pub_date }} +0000"></span>, <b>{{product.price_logs|length}}</b> precios</li>
					<li class="bullet-item"><a href="#">Vegetales</a></li>
					<li class="description">
						<div class="row">	
							<div class="six columns">
								<h6 class="subheader">Últimos 3 meses</h6>
								<span class="big-percentage percentage-negative">-5%</span>
							</div>
							<div class="six columns">
								<h6 class="subheader">Último año</h6>
								<span class="big-percentage percentage-positive">+120%</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="six columns">
				<div class="panel">

					<span class="th"><img src="{{product.original_img}}" /></span>
					<small>Fuente: {{product.source.domain}}</small>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="twelve columns">
				<img src="http://i.imgur.com/Ywos0RV.png" />
			</div>
		</div>
		<hr />
		<table class="six columns">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Precio</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for price_log in product.price_logs|sort(reverse=True) %}
				<tr>
					<td><span class="from-now" data-date="{{price_log.fetched_date}} +0000"></span></td>
					<td>{{price_log.currency}} {{price_log.price | float}}</td>
					<td>+ 10%</td>
					
				</tr>
				{% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="three columns">
		<h6>Productos similares</h6>
	</div>
</div>
<script type="text/javascript">
	moment.lang("es");
	$(".from-now").each(function(){
		$(this).html(moment($(this).attr("data-date"), "YYYY-MM-DD HH:mm:ss.SSS Z").calendar());	
	});
</script>
{% endblock %}
